<header class="header">
  <div class="container header-container">
    <a href="#" class="header-logo">
     <picture>
       <source srcset="img/logotype.avif" type="image/avif">
       <source srcset="img/logotype.webp" type="image/webp">
       <img loading="lazy" src="img/logotype.png" class="image" alt="logotype">
     </picture>
    </a>
    <a href="#footer" class="header-contacts">
      <svg class="phone-icon">
        <use xlink:href="img/sprite.svg#phone"></use>
      </svg>
      Контакты
    </a>
  </div>
</header>
